@import '../vars.css';

.icons {
  margin-top: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

.iconWrapper {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 110px;
  height: 110px;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, var(--page-bg-color-start) 70%, var(--page-bg-color-end) 110%);
  box-sizing: border-box;
  position: relative;
}

.iconWrapper[data-selected='1'] {
  background: var(--sel-icon-color);
}

.iconWrapper[data-selected='1']::before {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  top: -30px;
  right: 0;
  background-color: transparent;
  box-shadow: 15px 15px var(--page-bg-color-start);
  border-radius: 50%;
}

.iconWrapper[data-selected='1']::after {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: -30px;
  right: 0;
  background-color: transparent;
  box-shadow: 15px -15px var(--page-bg-color-start);
  border-radius: 50%;
}

.icon {
  height: calc(100%);
}

header {
  height: 110px;
  width: 100%;
  position: relative;
}

.logo {
  height: 50px;
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.mainContent {
  display: flex;
  flex-direction: row;
  position: relative;
  height: calc(100vh - 110px);
  padding: 30px;
  box-sizing: border-box;
}

.pages {
  display: flex;
  align-items: flex-start;
  flex-basis: 100%;
  position: relative;
  min-width: 810px;
  min-height: 700px;
  box-sizing: border-box;
  margin-right: 30px;
}

.page {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
  background: repeat 130px/800px var(--background-url),
              linear-gradient(137deg, var(--page-bg-color-start) 46%, var(--page-bg-color-end) 100%);
  border-radius: 12px;
  padding: 15px;
}

.players {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 42%;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.players::-webkit-scrollbar {
  display: none;
}