.btn {
  transition: filter 0.5s;
  vertical-align: middle;
}

.gameBtn {
  width: 135px;
}

.logOutBtn {
  margin-top: 8px;
  width: 100%;
  filter: drop-shadow(-3px 4px 3px rgba(0, 0, 0, .23));
  transition: filter 0.5s;
}

.logOutBtn:hover {
  filter: none;
}

.trialBtn {
  background-color: transparent;
  border: none;
  font-family: 'Nunito', sans-serif;
  color: #fae9b0;
  font-size: 1em;
  font-weight: 900;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
}

.greyText {
  color: grey;
}
