* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow: hidden;
}

@media only screen and (hover: none) and (pointer: coarse){
  body {
    display: none;
  }
}

a {
  color: #fb9331;
}

.blurBack::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: -5px 8px 5px rgba(0, 0, 0, .12);
  border-radius: inherit;
  filter: blur(1px);
  backdrop-filter: blur(40px);
}

[hidden] {
  display:none;
}
