.wrapper {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.wrapper::before {
  z-index: -2;
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(15px);
}