.logo {
  height: 100px;
  position: relative;
  left: 15px;
  top: 10px
}

.header {
  position: relative;
  height: 125px;
}

.breaker {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  margin-bottom: 0;
  height: 2px;
  background-color: rgba(255, 255, 255, .2);
  border: none;
  border-radius: 4px;
}