.main {
  width: 160px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
}

.star {
  width: 100%;
}

.wrapper h1 {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.wrapper input {
  position: absolute;
}