.card {
  position: relative;
  min-height: 215px;
  border-radius: 22.5px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: -5px 10px 5px rgba(0, 0, 0, .1);
  margin-left: 15px;
  margin-bottom: 30px;
  overflow: hidden;
  padding-left: 32.5%;
  padding-right: 170px;
  overflow-wrap: break-word;
}

.card:last-child {
  margin-bottom: 15px;
}

.card::before {
  z-index: -2;
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  bottom: -2px;
  right: -2px;
  background: linear-gradient(-25deg, #f5eafc, #bc77f1 50%, #8464a8 66.6%, #6b5183 100%);
  border-radius: 22.5px;
  opacity: 0.3;
}

.icon {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  mask-image: linear-gradient(to right, black 75%, transparent);
  height: 100%;
  width: 30%;
  object-fit: cover;
}

.btnsWrapper {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: center;
  color: #fae9b0;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}