@import '../../vars.css';

.questionWrapper {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100px;
  opacity: 0;
  transition: opacity 3s;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 10px 5px 5px 45px;
}

.text {
  color: black;
  font-size: 1.4em;
  height: 40px;
  margin-bottom: 10px;
}

.status {
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: -30px;
  opacity: 0.5;
  transform-origin: top left;
  transform: rotateZ(-90deg);
  color: #fff;
  padding: 0 7px;
  box-sizing: border-box;
}

.answerWrapper {
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  height: 35px;
}

.answer {
  font-size: 1.2em;
  line-height: 35px;
  color: var(--purple);
  margin: 0;
  margin-right: 15px;
}

.fuel {
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 10px;
  height: 20px;
  min-width: 60px;
  border-radius: 12px;
  background: var(--fuel-background-url) repeat 0/100px fixed,
              linear-gradient(90deg, var(--purple) 78%, var(--light-purple) 97%) center/cover fixed;
}

.points {
  color: var(--orange);
  mix-blend-mode: color-dodge;
}

.avatar {
  vertical-align: middle;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.visible {
  opacity: 1;
}
