.question-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.question {
    display: flex;
    border: solid 1px;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}